html,
body {
    margin: 0;
    padding: 0;
}

$ff-main: "Montserrat", Tahoma, Verdana, sans-serif;
$fw-base: 400;
$fw-bold: 700;
$fw-fat: 800;
$color-white: #FFFFFF;
$color-black: #28352B;
$color-main: #FCC558; //banana orange
$color-accent-1: #93C01F; //green
$color-accent-2: #F0DB3B; //yellow
$color-cta: #D5421D; //ugly red-brownish for buttons

$fs__body: clamp(0.875rem, 0.8rem + 0.4vw, 1rem); //14-16px
$fs__heading--top: clamp(1.5625rem, 0.997rem + 2.8274vw, 2.75rem); // 320px-992px, 25-44px
$fs__heading--bottom: clamp(1rem, 0.3452rem + 3.2738vw, 2.375rem); // 320px-992px, 16-38px

$txt-stroke--main: -1px 1px 0 $color-main, 1px 1px 0 $color-main,
    1px -1px 0 $color-main, -1px -1px 0 $color-main;

// padding
$padding--XS: 0.2rem;
$padding--S: 0.5rem;
$padding--M: 1rem;
$padding--L: 2rem;
$padding--XL: 3rem;
$padding--XXL: 6rem;

@mixin body($fw, $case, $color) {
    font-family: $ff-main;
    font-weight: $fw;
    font-size: $fs__body;
    text-transform: $case;
    color: $color;
}

@mixin heading($fs, $color) {
    font-family: $ff-main;
    font-weight: $fw-bold;
    text-transform: uppercase;
    font-size: $fs;
    color: $color;
}

@mixin border($color) {
    border: 2px solid $color;
    border-radius: 8px;
    padding: $padding--L;
    padding-bottom: $padding--XXL;
}


@mixin gradient-bg-text {
    background-image: linear-gradient(90deg, #257738 11.29%, #7AF178 85.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
}

@mixin gradient-bg-text--orange {
    background-image: linear-gradient(270deg, #FF7B2E 0%, #FFBD69 39.92%, #FF7B2E 60.29%, #FFBD69 81.47%, #FF7B2E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
}

@mixin gradient-bg-orange {
    background: linear-gradient(270deg, #FF7B2E 0%, #FFBD69 39.92%, #FF7B2E 60.29%, #FFBD69 81.47%, #FF7B2E 100%);
}



#es-garnier.es-garnier {
    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    img {
        display: block;
        max-width: 100%;
    }

    p {
        margin: 0;
        padding: 0;
    }

    sup {
        font-size: 0.6em;
    }

    figure {
        margin: 0;
        padding: 0;
    }

    font-family: $ff-main;
    color: $color-black;
    overflow: hidden;
    max-width: 992px;
    margin: auto;

    .es-title {
        text-transform: uppercase;
        font-weight: $fw-bold;
        font-size: $fs__heading--top;
        line-height: 1;
        text-align: center;
        text-wrap: balance;
        color: $color-main;
        margin-bottom: $padding--S;
    }

    .es-subtitle {
        text-transform: uppercase;
        font-weight: $fw-bold;
        font-size: $fs__heading--bottom;
        line-height: 1;
        text-align: center;
        text-wrap: balance;
        color: $color-white;
        @include gradient-bg-orange();
        padding: $padding--S;
        transform: skewX(-30deg);
        transform-origin: top;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        box-shadow: 4px 4px 0 $color-accent-2;

        span {
            transform: skewX(30deg);
        }
    }

    .es-line {
        height: 10px;
        background-color: $color-main;
        position: relative;
    }

    .es-gradient {
        &--green {
            @include gradient-bg-text();
        }
    }

    .es-kv {
        margin-bottom: 70px;

        .es-line {
            margin-block: 16px;



            &--1 {
                @media (min-width: 576px) {
                    transform: rotate(180deg);
                    height: 100%;
                    width: 15px;
                    margin-top: 0px;
                    position: absolute;
                }
            }
        }

        &__left {
            position: relative;

            &--title {
                background-color: $color-black;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: $fw-fat;
                font-style: italic;
                color: $color-white;
                text-align: center;
                max-width: max-content;
                margin: auto;
                padding: 0px 4px;
                display: flex;
                align-items: center;
                white-space: nowrap;
                gap: 2px;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 72%;
                left: 50%;

                span {
                    font-size: 1.8em;
                }

                sup {
                    margin-top: 8px;
                    margin-bottom: auto;
                }

                @media (min-width: 576px) and (max-width: 767px) {
                    font-size: 16px;
                    left: 47%;
                }

                @media (min-width: 768px) {
                    left: 45%;
                }
            }

            &--photoCtn {
                padding-left: 3%;
            }

            @media (min-width: 576px) {
                width: 65%;
                margin-left: 32px;
                margin-right: -48px;
                z-index: 1;
            }


        }

        &__right {
            background-color: $color-main;
            background: url("../images/kv_bg_banana.png") center no-repeat;
            background-size: contain;
            margin: 20px;
            position: relative;
            aspect-ratio: 1 / 1;

            @media (min-width: 576px) {
                width: 43%;

            }
        }


        &__branding {
            position: absolute;
            width: 100%;
            text-align: center;
            top: -20px;

            .es-kv__text {
                text-transform: uppercase;
                font-weight: $fw-fat;
                font-size: 45px;
                color: $color-black;
                letter-spacing: 0.05em;
                line-height: 1;
                text-shadow: 4px 0px 0 $color-white;

                @media (min-width: 576px) and (max-width: 767px) {
                    font-size: 32px;
                }
            }
        }

        &__logoCtn {
            width: 50%;
            margin: auto;

            img {
                margin: auto;
            }
        }

        &__textCtn {
            position: absolute;
            top: 35%;
            width: 100%;

            .es-kv__text {
                text-align: center;
                color: $color-black;
                font-size: 30px;
                text-transform: uppercase;
                font-weight: $fw-bold;
                line-height: 1;

                @media (min-width: 576px) and (max-width: 767px) {
                    font-size: 20px;
                }
            }


        }



        &__packshotCtn {
            position: absolute;
            // bottom: -29%;
            top: 54%;
            width: 80%;
            max-width: 300px;
            left: 50%;
            transform: translate(-50%, 0);

            @media (min-width: 576px) {
                bottom: -28%;
            }
        }

        &__packshot {
            transition: all 200ms ease-in-out;

            &:hover {
                scale: 1.05;
            }

        }

        @media (min-width: 576px) {
            display: flex;
            align-items: flex-end;
            margin-top: 20px;
            margin-bottom: 48px;
        }

        @media (min-width: 768px) {
            margin-bottom: 58px;
        }
    }

    .es-benefits {
        padding: $padding--L;

        &__header {
            padding-inline: $padding--S;
        }

        &__borderWrapper {
            border: 3px solid $color-accent-2;
            margin-top: $padding--XXL;
        }

        &__iconsWrapper {
            margin-top: -50px;
            margin-bottom: 50px;
            padding-inline: $padding--M;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $padding--L;

            @media (min-width: 576px) and (max-width: 991px) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                align-items: start;
            }

            @media (min-width: 992px) {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                align-items: start;
            }
        }

        &__icon-single {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: $padding--S;
            text-wrap: balance;

            &--img {
                aspect-ratio: 1/1;
                width: 100px;
                height: auto;
            }

            &--title {
                font-size: $fs__body;
                font-weight: $fw-bold;
            }
        }

        &__productWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media (min-width: 576px) {
                flex-direction: row;
                position: relative;
                align-items: flex-start;

                .es-subtitle {
                    width: fit-content;
                    padding-inline: 4rem;
                }
            }
        }

        &__packshotCtn {
            max-width: 250px;
            margin-top: $padding--M;

            @media (min-width: 576px) {
                margin-top: 0;
            }
        }

        &__arrowCtn {
            max-width: 130px;

            @media (min-width: 576px) {
                position: absolute;
                top: 36%;
                left: 40%;
            }
        }

        &__featuresWrapper {
            padding-inline: $padding--M;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $padding--S;
            margin-bottom: -40px;

            @media (min-width: 576px) {
                padding-inline: $padding--L;
                margin-bottom: -50px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);

                .es-benefits__featureSingle {
                    display: inline-grid;
                    place-items: center;
                }

                .es-benefits__featureSingle--3 {
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 2;
                }
            }
        }

        &__featureSingle {
            background-color: $color-accent-1;
            border-radius: 20px;
            text-align: center;
            padding: $padding--M;
            width: 100%;
            height: 100%;
        }

        &__featureTitle {
            color: $color-white;
            text-transform: uppercase;
            font-weight: $fw-bold;
            margin-bottom: $padding--S;
        }
    }

    .es-use {
        margin-top: $padding--XL;
        padding: $padding--L;
        background-size: 100% 100%;
        background-position: 0px 0px;
        background-image: linear-gradient(167deg, #F7A100 50%, #F7AB00 50%);

        @media (min-width: 768px) {
            margin-top: $padding--XXL;
            position: relative;
            height: 500px;
        }

        &__header {
            .es-title {
                color: $color-white;
            }

            .es-subtitle {
                box-shadow: 4px 4px 0 $color-white;
                max-width: fit-content;
                padding-inline: $padding--L;
            }

            @media (min-width: 768px) {
                position: absolute;
                top: $padding--XL;
                left: $padding--XXL;
            }
        }

        &__imgCtn {
            position: relative;
            z-index: 1;
            margin-block: $padding--M;

            img {
                margin: auto;
                transition: all 300ms ease-in-out;

                &:hover {
                    transform: rotate(720deg);
                    scale: 1.1;
                }
            }

            &:before {
                position: absolute;
                content: "";
                display: block;
                width: 48%;
                height: 100px;
                transform: translateX(-50%);
                bottom: -13%;
                left: 54%;
                z-index: -1;
                background-size: 100% 100%;
                background-position: 0px 0px;
                background-image: radial-gradient(55% 58% at 52% 56%, #e37300 0%, #ea7a00 25%, #073AFF00 68%);
            }

            @media (min-width: 768px) {
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
            }
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $padding--M;
            position: relative;
            z-index: 2;

            @media (min-width: 768px) {
                display: block;
                position: static;
            }
        }

        &__single {
            text-align: center;

            &:nth-of-type(1) {
                @media (min-width: 576px) and (max-width: 767px) {
                    position: relative;

                    &::after {
                        position: absolute;
                        content: '';
                        background-image: url("../images/arrow-white.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 100px;
                        height: 100px;
                        top: -28%;
                        left: 0;
                        transform: rotate(233deg);
                    }
                }

                @media (min-width: 768px) {
                    top: 60%;
                    left: $padding--L;
                }

                @media (min-width: 850px) {
                    left: $padding--XL;
                    top: 69%;
                }
            }

            &:nth-of-type(2) {
                @media (min-width: 576px) and (max-width: 767px) {
                    position: relative;

                    &::after {
                        position: absolute;
                        content: '';
                        background-image: url("../images/arrow-white.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 100px;
                        height: 100px;
                        top: 0;
                        right: 0;
                        transform: rotateZ(312deg) rotateX(185deg);
                    }
                }

                @media (min-width: 768px) {
                    top: $padding--XL;
                    right: $padding--L;
                }

                @media (min-width: 850px) {
                    right: $padding--XL;
                }
            }

            &:nth-of-type(3) {
                @media (min-width: 576px) and (max-width: 767px) {
                    position: relative;

                    &::after {
                        position: absolute;
                        content: '';
                        background-image: url("../images/arrow-white.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 100px;
                        height: 100px;
                        top: -20%;
                        left: -1%;
                        transform: rotateX(160deg) rotateZ(202deg);
                    }
                }

                @media (min-width: 768px) {
                    bottom: $padding--XL;
                    right: $padding--L;
                }

                @media (min-width: 850px) {
                    right: $padding--XL;
                }
            }

            @media (min-width: 576px) {
                padding-inline: 5rem;
            }

            @media (min-width: 768px) {
                position: absolute;
                max-width: 275px;
                padding-inline: unset;
            }

            @media (min-width: 850px) {
                max-width: 320px;
            }
        }

        &__title {
            text-transform: uppercase;
            color: $color-white;
            font-weight: $fw-bold;
            margin-bottom: $padding--S;
        }

        &__text {
            text-align: center;
            text-wrap: balance;
        }

        &__arrows {
            @media (max-width: 767px) {
                display: none;
            }

            @media (min-width: 768px) {
                .es-use__arrow--1 {
                    position: absolute;
                    top: 37%;
                    left: 20%;
                }

                .es-use__arrow--2 {
                    position: absolute;
                    top: 30%;
                    right: 27%;
                    transform: rotateX(156deg) rotateY(151deg);
                }

                .es-use__arrow--3 {
                    position: absolute;
                    bottom: 30%;
                    right: 26%;
                    transform: rotateX(0deg) rotateY(180deg);
                }
            }

            @media (min-width: 850px) {
                .es-use__arrow--1 {
                    top: 48%;
                    left: 26%;
                }
            }
        }
    }

    .es-results {
        margin-top: $padding--XL;
        padding-inline: $padding--L;
        &__header {
            .es-title {
                color: $color-accent-1;
            }
            .es-subtitle {
                max-width: fit-content;
                padding-inline: $padding--XL;
            }
        }
        &__BA {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 32px 16px;
            gap: 8px;

            @media (min-width: 576px) {
                flex-direction: row;
                align-items: flex-start;
            }

            @media (min-width: 768px) {
                padding: 48px 32px;
            }
        }

        &__figure {
            position: relative;
            width: 100%;
            max-width: 350px;
            margin: auto;
            margin: 0;
        }

        &__imgCtn {
            overflow: hidden;
            max-width: 350px;
            aspect-ratio: 1/1;
            margin: auto;

            img {
                aspect-ratio: 1/1;
                object-fit: contain;
                transition: all 200ms ease-in-out;

                &:hover {
                    scale: 1.1;
                }
            }
        }

        &__BA--text {
            position: absolute;
            top: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 8px;
            font-style: italic;
            font-weight: 800;
            font-size: 16px;
            color: $color-white;
        }

       
    }
}